<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-spriingsecurity4">
<head>
<title>Spring Boot - Hibernate</title>
<style>
table, th, td, tr {
  border: 1px solid black;
}
td {
  padding-right: 30px;
}

.error 
    {
        color: #ff0000;
        font-weight: bold;
    } 
</style>

</head>
<body>
  
  <h1>List Product:</h1>
  <a th:href="@{/product/product-save}" sec:authorize="hasRole('ROLE_ADMIN')">Add Product</a>
  <br />
  <br />
  <span th:text="${errors}" class="error"/></span> <br/>
  <table>
    <tr>
      <th>Id</th>
      <th>ProductName</th>
      <th>Category</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>IsValid</th>
      <th sec:authorize="hasRole('ROLE_ADMIN')">Action</th>
    </tr>    
    <th:block th:each="product : ${listProduct}">
      <tr  th:title = "|Click to see product id = ${product.id}|" th:onclick="|window.location.href='@{/product/product-view/} + ${product.id}'|">
        <td><p th:text="${product.id}"></p></td>
        <td><p th:text="${product.product_name}"></p></td>
        <td><p th:text="${product.getCategory().category_name}"></p></td>
        <td><p th:text="${product.price}"></p></td>
        <td><p th:text="${product.quantity}"></p></td>
        <td><p th:text="${product.isValid}"></p></td>
        <td sec:authorize="hasRole('ROLE_ADMIN')">
        	<a th:href="@{/product/product-update/} + ${product.id}">Edit</a> |
        	<a th:href="@{/product/productDelete/} + ${product.id}">Delete</a>
        </td>
      </tr>
    </th:block>
  </table>
  <br>
 	<a th:href="@{/category/}">LIST CATEGORY</a><br/><br>
  	<a th:href="@{/customer/}">LIST CUSTOMER</a><br/><br>
    <a th:href="@{/receipt/}">LIST RECEIPT</a><br/><br>
  <br>
  <form action="#" th:action="@{/logout}" method="POST">
        <button type="submit">Logout</button>
    </form>
</body>
</html>