<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot - Hibernate</title>
</head>
 <style>
    .error 
    {
        color: #ff0000;
        font-weight: bold;
    }
</style>    

<body>
  <a th:href="@{/product/product-list}">List Product</a><br />
  <h1>Add new Product:</h1>
  <form id="abc" th:action="@{saveProduct}" method="POST" th:object = "${product}">
      Product Name: 
      	<input th:field="*{product_name}"/>
      	<span th:if="${#fields.hasErrors('product_name')}"
                    th:errors="*{product_name}" class="error"></span> <br/><br/>	
      <!-- Category: 
      	<input th:field="*{category.id}"/>
      	<span th:if="${#fields.hasErrors('category')}"
                    th:errors="*{category}" class="error"></span> <br/><br/> -->
      Category Name:
      <select th:field="*{category.id}"  id="dropCategory">
         <option value = "0" label = "Select"/>
         <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.category_name}"></option>
      </select><br/><br/>
      
      Price: 
      	<input th:field="*{price}" name="price"/> 
        <span th:text="${errorPrice}" class="error"></span> <br/><br/>
     Quantity: 
      	<input th:field="*{quantity}"/>
      	<span th:if="${#fields.hasErrors('quantity')}"
                    th:errors="*{quantity}" class="error"></span> <br/><br/>
                    
    <input type="submit" value="Submit" />
  </form>
</body>
</html>