<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot - Hibernate</title>

 <style>
    .error 
    {
        color: #ff0000;
        font-weight: bold;
    }
</style>

</head>

<body>
  <a th:href="@{/receipt/receipt-view/} + ${receipt_id}">View Receipt</a><br><br> 
  <h1>Edit Detail Receipt:</h1>
  <form th:action = "@{/receipt/updateDetailReceipt}" method="POST" th:object = "${detailReceipt}">
  	Receipt ID:
     	<input id="receiptId" name="receiptId" th:field = "*{receipt.id}" readonly="true" ><br/> <br/>
    Detail Receipt ID:
     	<input id="id" name="id" th:field = "*{id}" readonly="true" ><br/> <br/>
    Product ID:
      	 <input th:field = "*{product.id}" readonly="true" ><br/> <br/>
    Product Name:
      	 <input  th:field = "*{product.product_name}" readonly="true" ><br/> <br/>
    Quantity: 
      	<input type="number" th:field = "*{quantity}"/>
      	<span th:if="${#fields.hasErrors('quantity')}"
                    th:errors="*{quantity}" class="error"></span> 
        <span th:text="${errorQuantity}" class="error"></span> <br/><br/>
              
    <input type="submit" value="Update"/><br/><br/>
  </form>
</body>
</html>