
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-spriingsecurity4">
<head>
<title>Spring Boot - Hibernate</title>

 <style>
    .error 
    {
        color: #ff0000;
        font-weight: bold;
    }
</style>

</head>

<body>
  <a th:href="@{/receipt/receipt-list}">List Receipt</a><br><br> 	
  Id: <span th:type="text" th:text="${receipt.id}"></span><br>
  Total Quantity: <span th:text="${receipt.TotalQuantity}"></span><br>
  Id Customer:  <span th:text="${receipt.getCustomer().id}"></span><br>
  <h4> Detail:</h4>
  <table>
    <tr>
      <th>Id</th>
      <th>Product ID</th>
      <th>Product Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Action</th>
    </tr>    
    <th:block th:each="detailReceipts : ${receipt.getDetailReceipts()}">
    <tr  th:title = "|Click to see receipt ${receipt.id}|" th:onclick="|window.location.href='@/receipt/receipt-update/} + ${receipt.id}'|">
        <td><p th:text="${detailReceipts.getId()}"></p></td>
        <td><p th:text="${detailReceipts.getProduct().getId()}"></p></td>
        <td><p th:text="${detailReceipts.getProduct().getProduct_name()}"></p></td>
        <td><p th:text="${detailReceipts.getProduct().getPrice()}"></p></td>
        <td><p th:text="${detailReceipts.getQuantity()}"></p></td>
        <td sec:authorize="hasRole('ROLE_ADMIN')">
        	<a th:href="@{/receipt/detailReceipt-update/} + ${subCategory.id}">Edit </a> |
        	<a th:href="@{/category/categoryDelete/} + ${subCategory.id}">Delete</a> 
		</td>
    </tr>
    </th:block>
  </table>
</body>
</html>