<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot - Hibernate</title>
</head>
<style>
table, th, td, tr {
  border: 1px solid black;
}
td {
  padding-right: 30px;
}

.error 
    {
        color: red;
        font-weight: bold;
    } 
</style>
 

<body>
  <a th:href="@{/receipt/receipt-list}">List Receipt</a><br />
  <h1>ADD NEW RECEIPT:</h1>
  <form id="abc" th:action="@{saveReceipt}" method="POST" th:object = "${receipt}">
    Customer ID: 
      	<input th:field="*{customer.id}"/>
      	<!-- span th:if="${#fields.hasErrors('customer.id')}"
                    th:errors="*{customer.id}" class="error"></span -->
        <span th:text="${errorID}" class="error"></span><br/><br/>	
     <br>
     Email or Phone: 
      	<input name = "EmailOrPhone" />
      	<!--  <span th:if="${#fields.hasErrors('customer.email')}"
                    th:errors="*{customer.email}" class="error"></span>  -->
        <span th:text="${errorEmailOrPhone}" class="error"></span><br/><br/>	
     <br>
     <span th:text="${errorNotTrue}" class="error"></span><br/><br/>	
     <input type="submit" value="Submit" />
    <!-- <a th:href="@{/receipt/detailReceipt-save/} + ${receipt.id}">Create DetailReceipt</a>  -->
  </form>
</body>
</html>