<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-spriingsecurity4">
<head>
<title>Spring Boot - Hibernate</title>
</head>
<style>
table, th, td, tr {
  border: 1px solid black;
}
td {
  padding-right: 30px;
}

.error 
    {
        color: red;
        font-weight: bold;
    } 
</style>
<body>
  <a th:href="@{/receipt/receipt-list}">List Receipt</a><br>
  Id: <span th:type="text" th:text="${receipt.id}"></span><br>
  Total Quantity: <span th:text="${receipt.TotalQuantity}"></span><br>
  Customer ID:  <span th:text="${receipt.getCustomer().id}"></span><br>
  Customer Name:  <span th:text="${receipt.getCustomer().name}"></span><br>
  Customer Phone:  <span th:text="${receipt.getCustomer().phone}"></span><br>
  Customer Address:  <span th:text="${receipt.getCustomer().address}"></span><br><br>
  <a th:href="@{/receipt/detailReceipt-save/} + ${receipt.id} " sec:authorize="hasRole('ROLE_ADMIN')">Add Detail Receipt</a><br/>
  <h4> Detail:</h4>
  <table>
    <tr>
      <th>Id</th>
      <th>Id Product</th>
      <th>Name Product</th>
      <th>Price</th>
      <th>Quantity</th>
      <th sec:authorize="hasRole('ROLE_ADMIN')" >Action</th>
    </tr>    
    <th:block th:each="detailReceipts : ${receipt.getDetailReceipts()}">
    <tr  th:title = "|Click to see detail receipt id = ${detailReceipts.id}|" th:onclick="|window.location.href='@{/receipt/detailReceipt-update/} + ${detailReceipts.id}'|">
        <td><p th:text="${detailReceipts.getId()}"></p></td>
        <td><p th:text="${detailReceipts.getProduct().getId()}"></p></td>
        <td><p th:text="${detailReceipts.getProduct().getProduct_name()}"></p></td>
        <td><p th:text="${detailReceipts.getProduct().getPrice()}"></p></td>
        <td><p th:text="${detailReceipts.getQuantity()}"></p></td>
        <td sec:authorize="hasRole('ROLE_ADMIN')">
        	<a th:href="@{/receipt/detailReceipt-update/} + ${detailReceipts.getId()}">Edit </a> |
        	<a th:href="@{/receipt/detailReceiptDelete/} + ${detailReceipts.getId()}">Delete</a> 
		</td>
    </tr>
    </th:block>
  </table>
</body>
</html>