<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot - Hibernate</title>
</head>
<body>
  <a th:href="@{/category/category-list}">List Category</a> 
  <br/> <br/>
  
  <table>
    <tr>
      <td>Id: </td>
      <td><p th:type="text" th:text="${category.id}"/></td>
    </tr>
    <tr>
      <td>Category Name: </td>
      <td><p th:text="${category.category_name}"/></td>
    </tr>
    <tr>
      <td>IsValid: </td>
      <td><p th:text="${category.isValid}"/></td>
    </tr>
  </table>
</body>
</html>