<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot - Hibernate</title>
</head>
 <style>
    .error 
    {
        color: #ff0000;
        font-weight: bold;
    }
</style>    

<body>
  <a th:href="@{/category/category-list}">List Category</a><br />
  <h1>Add new Category:</h1>
  <form id="abc" th:action="@{saveCategory}" method="POST" th:object = "${category}">
      Name Category: 
      	<input th:field="*{category_name}"/>
      	<span th:if="${#fields.hasErrors('category_name')}"
                    th:errors="*{category_name}" class="error"></span> <br/><br/>
    <input type="submit" value="Submit" />
  </form>
</body>
</html>