<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot - Hibernate</title>
</head>
<body>
  <a th:href="@{/product/product-list}">List Product</a> 
  <br/> <br/>
  
  <table>
    <tr>
      <td>Id: </td>
      <td><p th:type="text" th:text="${product.id}"/></td>
    </tr>
    <tr>
      <td>Name Product: </td>
      <td><p th:text="${product.product_name}"/></td>
    </tr>
    <tr>
      <td>Category</td>
      <td><p th:text="${product.category.id}"/></td>
    </tr>
    <tr>
      <td>Price: </td>
      <td><p th:text="${product.price}"/></td>
    </tr>
    <tr>
      <td>Quantity: </td>
      <td><p th:text="${product.quantity}"/></td>
    </tr>
    <tr>
      <td>IsValid: </td>
      <td><p th:text="${product.isValid}"/></td>
    </tr>
  </table>
</body>
</html>