<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot - Hibernate</title>
<style>
    .error 
    {
        color: #ff0000;
        font-weight: bold;
    }
</style>    
</head>
<body>
  <a th:href="@{/product/product-list}">List Product</a><br />
  <h1>Edit Product:</h1>
  <form th:action="@{/product/updateProduct}" method="POST" th:object="${product}">
      Id: 
      	<input th:field="*{id}" readonly="true" /> <br/> <br/>
      Name product: 
      	<input th:field="*{product_name}"/>
      	<span th:if="${#fields.hasErrors('product_name')}"
                    th:errors="*{product_name}" class="error"></span> <br/><br/>
      Category: 
      	<input th:field="*{category.id}"/>
      	<span th:if="${#fields.hasErrors('category')}"
                    th:errors="*{category}" class="error"></span> <br/><br/>
      Price: 
      	<input th:field="*{price}" name="price"/> 
      	<span th:if="${#fields.hasErrors('price')}"
                    th:errors="*{price}" class="error"></span>
        <span th:text="${errorPrice}" class="error"></span> <br/><br/> 
      Quantity: 
      	<input th:field="*{quantity}"/>
      	<span th:if="${#fields.hasErrors('quantity')}"
                    th:errors="*{quantity}" class="error"></span> <br/><br/>
                    
    <input type="submit" value="Submit" />
  </form>
</body>
</html>