<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot - Hibernate</title>

 <style>
    .error 
    {
        color: #ff0000;
        font-weight: bold;
    }
</style>    
<script >
    $(document).ready(function(){
	  $("dropProduct").onChange(function(){
	    $(this).hide();
	  });
	});
</script>

</head>

<body>
  <!--  <a th:href = "@{/category/category-list}">List Category</a><br />  -->
  <h1>Add new Detail Receipt:</h1>
  <form id = "abc" th:action = "@{/receipt/saveDetailReceipt}" method="POST" th:object = "${detailReceipt}">
  Receipt ID:
     	<input id="receiptId" name="receiptId" th:value = "${receipt_id}" ><br/> <br/>
     Product ID:
      	 <select th:field = "*{product.id}"  id = "dropProduct">
        	<option value = "0" label = "Select"/>
        	<option th:each = "product : ${products}" th:value = "${product.id}" th:text = "${product.product_name}" ></option>	
      	 </select><br/> <br/>
     <!--  Price: 
      	<input th:field="*{product.price}" readonly="true" /> <br/> <br/> -->
     Quantity: 
      	<input type = "number" th:field="*{quantity}"/>
      	<span th:if="${#fields.hasErrors('quantity')}"
                    th:errors="*{quantity}" class="error"></span> 
        <span th:text="${errorQuantity}" class="error"></span> <br/><br/>
              
    <input type="submit" value="Add"/><br/><br/>
  </form>
</body>
</html>