<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot - Hibernate</title>
</head>
<style>
table, th, td, tr {
  border: 1px solid black;
}
td {
  padding-right: 30px;
}

.error 
    {
        color: red;
        font-weight: bold;
    } 
</style>
 

<body>
  <a th:href="@{/receipt/receipt-list}">List Receipt</a><br />
  <h1>ADD NEW RECEIPT:</h1>
  <form id="abc" th:action="@{saveReceipt}" method="POST" th:object = "${receipt}">
     ID Customer: 
      	<input th:field="*{customer.id}"/>
      	<span th:if="${#fields.hasErrors('customer.id')}"
                    th:errors="*{customer.id}" class="error"></span><br/><br/>	
     <br>
     <input type="submit" value="Submit" />
    <!-- <a th:href="@{/receipt/detailReceipt-save/} + ${receipt.id}">Create DetailReceipt</a>  -->
  </form>
  
  
</body>
</html>