<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-spriingsecurity4">
<head>
<title>Spring Boot - Hibernate</title>
<style>
table, th, td, tr {
  border: 1px solid black;
}
td {
  padding-right: 30px;
}

.error 
    {
        color: #ff0000;
        font-weight: bold;
    } 
</style>

</head>
<body>
  
  <h1>List Category:</h1>
  <a th:href="@{/category/category-save}" sec:authorize="hasRole('ROLE_ADMIN')">Add Category</a>
  <br />
  <br />
  <span th:text="${errors}" class="error"/></span> <br/>
  <table>
    <tr>
      <th>Id</th>
      <th>Category Name</th>
      <th>Description</th>
      <th>Supper Category Name</th>
      <th>IsValid</th>
      <th>Enable</th>
      <th>View</th>
      <th sec:authorize="hasRole('ROLE_ADMIN')">Action</th>
    </tr>    
    <th:block th:each="category : ${listCategory}">
      <tr  th:title = "|Click to see detail category ${category.id}|" th:onclick="|window.location.href='@{/category/category-view/} + ${category.id}'|">
        <td><p th:text="${category.id}"></p></td>
        <td><p th:text="${category.category_name}"></p></td>
        <td><p th:text="${category.description}"></p></td>
        <td><p th:text="${category.getSupperCategory().getCategory_name()}"></p></td>
        <td><p th:text="${category.isValid}"></p></td>
        <td><p th:text="${category.enable}"></p></td>
        <td><a th:href="@{/category/category-view/} + ${category.id}">View</a></td>
        <td sec:authorize="hasRole('ROLE_ADMIN')">
        	<a th:href="@{/category/category-update/} + ${category.id}">Edit </a> |
        	<a th:href="@{/category/categoryDelete/} + ${category.id}">Delete</a> |
        	<a th:href="@{/category/categoryEnable/} + ${category.id}" th:if= "${category.enable}" >Disable</a>
        	<a th:href="@{/category/categoryEnable/} + ${category.id}" th:unless= "${category.enable}" >Enable</a>
		</td>
      </tr>
    </th:block>
  </table>
  <br>
  	<a th:href="@{/product/}">LIST PRODUCT</a><br/><br>
  	<a th:href="@{/customer/}">LIST CUSTOMER</a><br/><br>
    <a th:href="@{/receipt/}">LIST RECEIPT</a><br/><br>
  <br>
  <form action="#" th:action="@{/logout}" method="POST">
        <button type="submit">Logout</button>
    </form>
</body>
</html>