<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot - Hibernate</title>
<style>
    .error 
    {
        color: #ff0000;
        font-weight: bold;
    }
</style>    
</head>
<body>
  <a th:href="@{/category/category-list}">List Category</a><br />
  <h1>Edit Category:</h1>
  <form th:action="@{/category/updateCategory}" method="POST" th:object="${category}">
      Id: 
      	<input th:field="*{id}" readonly="true" /> <br/> <br/>
      Category Name: 
      	<input th:field="*{category_name}"/>
      	<span th:if="${#fields.hasErrors('category_name')}"
                    th:errors="*{category_name}" class="error"></span> <br/><br/>
                    
      Description Category: 
      	<input th:field="*{description}"/> <br/><br/>              
      Supper Category Name:
      <select th:field="*{supperCategory.id}"  id="dropCategory">
         <option value = "0" label = "Select"/>
         <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.category_name}"></option>
      </select><br/><br/>                     
    <input type="submit" value="Submit" />
  </form>
</body>
</html>