<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot - Hibernate</title>
</head>
 <style>
    .error 
    {
        color: #ff0000;
        font-weight: bold;
    }
</style>    

<body>
  <a th:href = "@{/category/category-list}">List Category</a><br />
  <h1>Add new Category:</h1>
  <form id = "abc" th:action = "@{saveCategory}" method="POST" th:object = "${category}">
      Category Name: 
      	<input th:field = "*{category_name}"/>
      	<span th:if = "${#fields.hasErrors('category_name')}"
                    th:errors="*{category_name}" class="error"></span> <br/><br/>
      <!-- Supper Category Name: 
      	<input th:field = "*{supperCategory.id}"/> <br/><br/> -->
      Description: 
      	<input th:field = "*{description}"/><br/><br/>	
      Supper Category Name:
      <select th:field="*{supperCategory.id}"  id="dropCategory">
         <option value = "0" label = "Select"/>
         <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.category_name}"></option>
      </select><br/><br/>
    <input type="submit" value="Submit" />
  </form>
</body>
</html>