<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-spriingsecurity4">
<head>
<title>Spring Boot - Hibernate</title>
<style>
table, th, td, tr {
  border: 1px solid black;
}
td {
  padding-right: 30px;
}

.error 
    {
        color: #ff0000;
        font-weight: bold;
    } 
</style>
</head>
<body>
  <a th:href="@{/category/category-list}">List Category</a> 
  <br/> <br/>
  <h3>Detail Category:</h3>
  	Id : <a th:type="text" th:text="${category.id}"></a><br>
	Category Name : <a th:text="${category.category_name}"></a><br>
    Description Category : <a th:text="${category.description}"></a><br>
    IsValid : <a th:text="${category.isValid}"></a><br>
    
  	<h4>List Sub Category:</h4>
  	<span th:text="${errorEnable}" class="error"></span> <br/>
      <table> 
    <tr class = "listSub">
      <th>Id</th>
      <th>Category Name</th>
      <th>Description</th>
      <th>Supper Category Name</th>
      <th>IsValid</th>
      <th>Enable</th>
      <th>View</th>
      <th sec:authorize="hasRole('ROLE_ADMIN')">Action</th>
    </tr>    
    <th:block th:each="subCategory : ${listSubCategory}">
      <tr  th:title = "|Click to see detail category ${subCategory.id}|" th:onclick="|window.location.href='@{/category/category-view/} + ${subCategory.id}'|">
        <td><p th:text="${subCategory.id}"></p></td>
        <td><p th:text="${subCategory.category_name}"></p></td>
        <td><p th:text="${subCategory.description}"></p></td>
        <td><p th:text="${subCategory.getSupperCategory().getCategory_name()}"></p></td>
        <td><p th:text="${subCategory.isValid}"></p></td>
        <td><p th:text="${subCategory.enable}"></p></td>
        <td><a th:href="@{/category/category-view/} + ${subCategory.id}">View</a></td>
        <td sec:authorize="hasRole('ROLE_ADMIN')">
        	<a th:href="@{/category/category-update/} + ${subCategory.id}">Edit </a> |
        	<a th:href="@{/category/categoryDelete/} + ${subCategory.id}">Delete</a> |
        	<a th:href="@{/category/categoryEnable/} + ${category.id}" th:if= "${category.enable}" >Disable</a>
        	<a th:href="@{/category/categoryEnable/} + ${category.id}" th:unless= "${category.enable}" >Enable</a>	
		</td>
      </tr>
    </th:block>
  </table>

  	<h4>List Product:</h4>
  <table>
    <tr>
      <th>Id</th>
      <th>NameProduct</th>
      <th>Category</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>IsValid</th>
      <th>View</th>
      <th sec:authorize="hasRole('ROLE_ADMIN')">Edit</th>
      <th sec:authorize="hasRole('ROLE_ADMIN')">Delete</th>
    </tr>    
    <th:block th:each="product : ${listProductOfCategory}">
      <tr>
        <td><p th:text="${product.id}"></p></td>
        <td><p th:text="${product.product_name}"></p></td>
        <td><p th:text="${product.getCategory().category_name}"></p></td>
        <td><p th:text="${product.price}"></p></td>
        <td><p th:text="${product.quantity}"></p></td>
        <td><p th:text="${product.isValid}"></p></td>
        <td><a th:href="@{/product/product-view/} + ${product.id}">View</a></td>
        <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/product/product-update/} + ${product.id}">Edit</a></td>
        <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/product/productDelete/} + ${product.id}">Delete</a></td>
      </tr>
    </th:block>
  </table>

</body>
</html>