<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot - Hibernate</title>
</head>
<body>
  <a th:href="@{/customer/customer-list}">List Customer</a> 
  <br/> <br/>
  
  <table>
    <tr>
      <td>Id: </td>
      <td><p th:type="text" th:text="${customer.id}"/></td>
    </tr>
    <tr>
      <td>Name: </td>
      <td><p th:text="${customer.name}"/></td>
    </tr>
    <tr>
      <td>Address: </td>
      <td><p th:text="${customer.address}"/></td>
    </tr>
    <tr>
      <td>Birthday: </td>
      <td><p th:text="${customer.getDOB()}"/></td>
    </tr>
    <tr>
      <td>Email: </td>
      <td><p th:text="${customer.email}"/></td>
    </tr>
    <tr>
      <td>Phone: </td>
      <td><p th:text="${customer.phone}"/></td>
    </tr>
    <tr>
      <td>Gender: </td>
      <td><p th:text="${customer.gender}"/></td>
    </tr>
    <tr>
      <td>IsValid: </td>
      <td><p th:text="${customer.isValid}"/></td>
    </tr>
  </table>
</body>
</html>