<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot - Hibernate</title>
</head>
 <style>
    .error 
    {
        color: #ff0000;
        font-weight: bold;
    }
</style>    

<body>
  <a th:href="@{/customer/customer-list}">List Customer</a><br />
  <h1>Add new Customer:</h1>
  <form id="abc" th:action="@{/customer/saveCustomer}" method="POST" th:object = "${customer}">
      Name: 
      	<input th:field="*{name}"/>
      	<span th:if="${#fields.hasErrors('name')}"
                    th:errors="*{name}" class="error"></span> <br/><br/>
      Address: 
      	<input th:field="*{address}"/> <br/><br/>
      Email:         
        <input type="text" th:field="*{email}" id="email" name="email"/> 
        <span th:if="${#fields.hasErrors('email')}"
                    th:errors="*{email}" class="error"></span>
      	<span th:text="${errorEmail}" class="error"> </span>   <br/> <br/>	
      BirthDay: 
      	<input type="date" id="birthday" name="birthday" th:value="${dob}"/> 
      	<span th:text="${errorDOB}" class="error"/></span> <br/><br/>    			
      Phone: 
      	<input th:field="*{phone}" name="phone"/> 
      	<span th:if="${#fields.hasErrors('phone')}"
                    th:errors="*{phone}" class="error"></span>
        <span th:text="${errorPhone}" class="error"></span> <br/><br/>
      Gender: 
      	<input type="radio" th:field="*{gender}" value="nam" checked> nam<br>
  	  	<input type="radio" th:field="*{gender}" value="nữ"> nữ<br/><br/>
    <input type="submit" value="Submit" />
  </form>
</body>
</html>