<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-spriingsecurity4">
<head>
<title>Spring Boot - Hibernate</title>
<style>
table, th, td, tr {
  border: 1px solid black;
}
td {
  padding-right: 30px;
}

.error 
    {
        color: #ff0000;
        font-weight: bold;
    } 
</style>

</head>
<body>
  
  <h1>List Customer:</h1>
  <a th:href="@{/customer/customer-save}" sec:authorize="hasRole('ROLE_ADMIN')">Add Customer</a>
  <br />
  <br />
  <span th:text="${errors}" class="error"/></span> <br/>
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Address</th>
      <th>BirthDay</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Gender</th>
      <th>IsValid</th>
      <th>View</th>
      <th sec:authorize="hasRole('ROLE_ADMIN')">Edit</th>
      <th sec:authorize="hasRole('ROLE_ADMIN')">Delete</th>
    </tr>    
    <th:block th:each="customer : ${listCustomer}">
      <tr>
        <td><p th:text="${customer.id}"></p></td>
        <td><p th:text="${customer.name}"></p></td>
        <td><p th:text="${customer.address}"></p></td>
        <td><p th:text="${customer.getDOB()}"></p></td>
        <td><p th:text="${customer.email}"></p></td>
        <td><p th:text="${customer.phone}"></p></td>
        <td><p th:text="${customer.gender}"></p></td>
        <td><p th:text="${customer.isValid}"></p></td>
        <td><a th:href="@{/customer/customer-view/} + ${customer.id}">View</a></td>
        <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/customer/customer-update/} + ${customer.id}">Edit</a></td>
        <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/customer/customerDelete/} + ${customer.id}">Delete</a></td>
      </tr>
    </th:block>
  </table>
  <br>
    <a th:href="@{/product/}">LIST PRODUCT</a><br/><br>
    <a th:href="@{/receipt/}">LIST RECEIPT</a><br/><br>
  <br>
  <form action="#" th:action="@{/logout}" method="POST">
        <button type="submit">Logout</button>
    </form>
</body>
</html>