<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-spriingsecurity4">
<head>
<title>Spring Boot - Hibernate</title>
<style>
table, th, td, tr {
  border: 1px solid black;
}
td {
  padding-right: 30px;
}

.error 
    {
        color: red;
        font-weight: bold;
    } 
</style>

</head>
<body>
  
  <h1>List Receipt:</h1>
  <a th:href="@{/receipt/receipt-save}" sec:authorize="hasRole('ROLE_ADMIN')">Add Receipt</a>
  <br />
  <br />
  <span th:text="${errors}" class="error"/></span> <br/>
  <table>
    <tr>
      <th>Id</th>
      <th>Id Customer</th>
      <th>Name Customer</th>
      <th>Total quantity</th>
      <th>View</th>
      <th sec:authorize="hasRole('ROLE_ADMIN')">Edit</th>
      <th sec:authorize="hasRole('ROLE_ADMIN')">Delete</th>
    </tr>    
    <th:block th:each="receipt : ${listReceipt}">
      <tr>
        <td><p th:text="${receipt.id}"></p></td>
        <td><p th:text="${receipt.getCustomer().getId()}"></p></td>
        <td><p th:text="${receipt.getCustomer().getName()}"></p></td>
        <td><p th:text="${receipt.TotalQuantity}"></p></td>
        <td><a th:href="@{/receipt/receipt-view/} + ${receipt.id}">View</a></td>
        <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/receipt/receipt-update/} + ${receipt.id}">Edit</a></td>
        <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/receipt/receiptDelete/} + ${receipt.id}">Delete</a></td>
      </tr>
    </th:block>
  </table>
  <br>
  	<a th:href="@{/category/}">LIST CATEGORY</a><br/><br>
  	<a th:href="@{/customer/}">LIST CUSTOMER</a><br/><br>
    <a th:href="@{/product/}">LIST PRODUCT</a><br/><br>
  <br>
  <form action="#" th:action="@{/logout}" method="POST">
        <button type="submit">Logout</button>
    </form>
</body>
</html>