<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot - Hibernate</title>
</head>
<style>
table, th, td, tr {
  border: 1px solid black;
}
td {
  padding-right: 30px;
}

.error 
    {
        color: red;
        font-weight: bold;
    } 
</style>
<body>
  <a th:href="@{/receipt/receipt-list}">List Receipt</a><br><br> 	
  Id: <span th:type="text" th:text="${receipt.id}"></span><br>
  Total Quantity: <span th:text="${receipt.TotalQuantity}"></span><br>
  Id Customer:  <span th:text="${receipt.getCustomer().id}"></span><br>
  <h4> Detail:</h4>
  <table>
    <tr>
      <th>Id</th>
      <th>Name Product</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>    
    <th:block th:each="detailReceipts : ${receipt.getDetailReceipts()}">
      <tr>
        <td><p th:text="${detailReceipts.getProduct().getId()}"></p></td>
        <td><p th:text="${detailReceipts.getProduct().getProduct_name()}"></p></td>
        <td><p th:text="${detailReceipts.getProduct().getPrice()}"></p></td>
        <td><p th:text="${detailReceipts.getQuantity()}"></p></td>
      </tr>
    </th:block>
  </table>
</body>
</html>